.image {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center;
}
.ant-page-header-rtl .image {
  margin: 0 60px 0 0;
}
@media (max-width: 768px) {
  .image {
    flex: 100%;
    margin: 24px 0 0;
  }
}

/* .ant-avatar {
  margin-top: 16px;
  margin-right: 200px;
}
.ant-avatar-image {
  background: transparent;
}
.ant-avatar > img {
  width: 20%;
  height: 20%;
  object-fit: cover;
}
.ant-page-header {
  margin-top: 10px;
  margin-left: 0px;
}
.ant-row-rtl .ant-avatar {
  margin-right: 0;
  margin-left: 16px;
} */
